.App {
  display: grid;
  text-align: center;
  gap: 20px;
  min-height: 100vh;

  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: auto;
  grid-template-rows: 50px auto 100vh;
  background:#fffdf8;
  grid-auto-rows: 150px;
}

.main{
 font-family: Open Sans Regular;
  grid-area: main;
}

.footer{
  background:#fffdf8 ;
  height: 40px; 
  font-size: 18px; 
  grid-area: footer;
}
